<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Sobre a clinica</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="display: flex;" class="ion-justify-content-center">
    <ion-text color="dark">
    </ion-text>
  </div>

  <ion-card>
    <ion-card-content>
      <div style="display: flex;" class="ion-justify-content-center">
        <img src="./assets/clinica/center.jpg" />
      </div>
      <ion-item-divider></ion-item-divider>
      <ion-text color="dark">
        <h2 style="text-align: center">Nossos profissionais que atuam nas áreas de clínica veterinária e especialidades
          são formados nas melhores Universidades de Medicina Veterinária, com especialização, mestrado e doutorado em
          diversas áreas.
        </h2>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <div style="display: flex;" class="ion-justify-content-center">
    <ion-text color="dark">
      <h4>NOSSOS PROFISSIONAIS</h4>
    </ion-text>
  </div>

  <ion-item-divider></ion-item-divider>

  <ion-card class=card>
    <div class="img-wrapper">
      <img src="./assets/vets/1.png" alt="Image">
    </div>
    <ion-card-title>
      <ion-card-content class="ion-text-center">Paloma
        <ion-text color="dark">
          <h5>Clinica Geral
            <br>
            <ion-icon name="time-outline"></ion-icon>10h - 21h
            segunda a sexta
          </h5>
        </ion-text>
        <p></p>
        <h6 class="texto">É um profissional da Medicina com amplo conhecimento sobre o funcionamento do corpo humano em
          seu conjunto.
        </h6>
      </ion-card-content>
    </ion-card-title>
  </ion-card>


  <ion-card class=card>
    <div class="img-wrapper">
      <img src="./assets/vets/2.png" alt="Image">
    </div>
    <ion-card-title>
      <ion-card-content class="ion-text-center">Patrícia
        <ion-text color="dark">
          <h5>Dermatologista
            <br>
            <ion-icon name="time-outline"></ion-icon>10h - 15h
            segunda a quarta
          </h5>
        </ion-text>
        <h6 class="texto">Especializado na prevenção, no diagnóstico e no tratamento de doenças e condições que afetam a
          pele, as unhas e as mucosas.
        </h6>
      </ion-card-content>
    </ion-card-title>
  </ion-card>


  <ion-card class=card>
    <div class="img-wrapper">
      <img src="./assets/vets/3.png" alt="vet">
    </div>
    <ion-card-title>
      <ion-card-content class="ion-text-center">Jamille
        <ion-text color="dark">
          <h5>Cardiologista
            <br>
            <ion-icon name="time-outline"></ion-icon>10h - 14h
            segunda a domingo
          </h5>
        </ion-text>
        <h6 class="texto">Especializado no sistema circulatório e no coração. Ele estuda e faz o diagnóstico das
          doenças e anormalidades existentes no órgão responsável por bombear o sangue no corpo.
        </h6>
      </ion-card-content>
    </ion-card-title>
  </ion-card>

  <ion-card class=card>
    <div class="img-wrapper">
      <img src="./assets/vets/6.png" alt="vet">
    </div>
    <ion-card-title>
      <ion-card-content class="ion-text-center">Livia
        <ion-text color="dark">
          <h5>Endocrinologista
            <br>
            <ion-icon name="time-outline"></ion-icon>10h - 14h
            segunda a sexta
          </h5>
        </ion-text>
        <h6 class="texto">Prevenção, diagnóstico e tratamento de doenças relativas ao metabolismo dos pets, incluindo
          crescimento, desenvolvimento e reprodução.
        </h6>
      </ion-card-content>
    </ion-card-title>
  </ion-card>

  <ion-card class=card>
    <div class="img-wrapper">
      <img src="./assets/vets/5.png" alt="vet">
    </div>
    <ion-card-title>
      <ion-card-content class="ion-text-center">Leonardo
        <ion-text color="dark">
          <h5>Neurocirurgião
            <br>
            <ion-icon name="time-outline"></ion-icon>10h - 18h
            segunda a sexta
          </h5>
        </ion-text>
        <h6 class="texto">Tratamento de diversas doenças que acometem o sistema nervoso central e periférico, como
          traumas
          crânio-encefálicos, tumores, aneurismas e lesões raqui-medulares.
        </h6>
      </ion-card-content>
    </ion-card-title>
  </ion-card>


  <ion-card class=card>
    <div class="img-wrapper">
      <img src="./assets/vets/4.png" alt="Image">
    </div>
    <ion-card-title>
      <ion-card-content class="ion-text-center">Carlos
        <ion-text color="dark">
          <h5>Ortopedista
            <br>
            <ion-icon name="time-outline"></ion-icon>10h - 13h
            segunda a sexta
          </h5>
        </ion-text>
        <p></p>
        <h6 class="texto">Tratamento desde fraturas ósseas simples, até as mais complicadas, que
          necessitam da realização de cirurgias.
        </h6>
      </ion-card-content>
    </ion-card-title>
  </ion-card>

  <!-- <ion-card>
    <ion-card-content>
      <div style="display: flex;" class="ion-justify-content-center">
        <img src="./assets/clinica/center.jpg" />
      </div>
      <ion-item-divider></ion-item-divider>
      <ion-text color="dark">
        <h2 style="text-align: center">Nossos profissionais que atuam nas áreas de clínica veterinária e especialidades
          são formados nas melhores Universidades de Medicina Veterinária, com especialização, mestrado e doutorado em
          diversas áreas.
        </h2>
      </ion-text>
    </ion-card-content>
  </ion-card>


  <div style="display: flex;" class="ion-justify-content-center">
    <ion-text color="dark">
      <h4>NOSSOS PROFISSIONAIS</h4>
    </ion-text>
  </div>

  <ion-card color="light">
    <div class="img-wrapper">
      <img src="./assets/vets/1.png" />
    </div>
    <ion-card-content class="ion-text-center">
      <h2>Paloma</h2>
      <ion-text color="medium">
        <div style="display: flex;" class="ion-justify-content-center">
          <ion-icon name="information-outline" color="medium">
          </ion-icon>
          <p>Clinica Geral
          </p>
        </div>
      </ion-text>
      
    </ion-card-content>
  </ion-card>



  
  <ion-item-divider></ion-item-divider>

  <ion-card color="light">
    <div class="img-wrapper">
      <img src="./assets/vets/2.png" />
    </div>
    <ion-card-content class="ion-text-center">
      <h2>Patrícia</h2>
      <ion-text color="medium">
        <div style="display: flex;" class="ion-justify-content-center">
          <ion-icon name="information-outline" color="medium">
          </ion-icon>
          <p>Dermatologista
          </p>
        </div>
      </ion-text>
    </ion-card-content>
  </ion-card>


  <ion-item-divider></ion-item-divider>

  <ion-card color="light">
    <div class="img-wrapper">
      <img src="./assets/vets/3.png" />
    </div>
    <ion-card-content class="ion-text-center">
      <h2>Jamille</h2>
      <ion-text color="medium">
        <div style="display: flex;" class="ion-justify-content-center">
          <ion-icon name="information-outline" color="medium">
          </ion-icon>
          <p>Cardiologista
          </p>
        </div>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-item-divider></ion-item-divider>


  <ion-card color="light">
    <div class="img-wrapper">
      <img src="./assets/vets/6.png" />
    </div>
    <ion-card-content class="ion-text-center">
      <h2>Livia</h2>
      <ion-text color="medium">
        <div style="display: flex;" class="ion-justify-content-center">
          <ion-icon name="information-outline" color="medium">
          </ion-icon>
          <p>Endocrinologista
          </p>
        </div>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-item-divider></ion-item-divider>

  <ion-card color="light">
    <div class="img-wrapper">
      <img src="./assets/vets/4.png" />
    </div>
    <ion-card-content class="ion-text-center">
      <h2>Leonardo</h2>
      <ion-text color="medium">
        <div style="display: flex;" class="ion-justify-content-center">
          <ion-icon name="information-outline" color="medium">
          </ion-icon>
          <p>Neurocirurgião
          </p>
        </div>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-item-divider></ion-item-divider>

  <ion-card color="light">
    <div class="img-wrapper">
      <img src="./assets/vets/5.png" />

    </div>
    <ion-card-content class="ion-text-center">
      <h2>Carlos</h2>
      <ion-text color="medium">
        <div style="display: flex;" class="ion-justify-content-center">
          <ion-icon name="information-outline" color="medium">
          </ion-icon>
          <p>Ortopedista
          </p>
        </div>
      </ion-text>
    </ion-card-content>
  </ion-card> -->