<style>
  @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap');
</style>

<div class="content">

  <ion-list inset>
 
   <ion-item id="rounded">
     <ion-label color="dark">Nome</ion-label>
     <ion-input [(ngModel)]="nome" type="text"></ion-input>
   </ion-item>
 
   <ion-item  id="rounded">
     <ion-label>Especie</ion-label>
     <ion-input [(ngModel)]="especie" type="string"></ion-input>
   </ion-item>
 
   <ion-item>
     <ion-label>Especialidade</ion-label>
     <ion-select [(ngModel)]="especialidade">
       <ion-select-option value= "Clinica Geral">Clinica Geral</ion-select-option>
       <ion-select-option value= "Dermatologia">Dermatologia</ion-select-option>
       <ion-select-option value= "Cardiologia">Cardiologia</ion-select-option>
       <ion-select-option value= "Endocrinologia">Endocrinologia</ion-select-option>
       <ion-select-option value= "Neurocirurgia">Neurocirurgia</ion-select-option>
       <ion-select-option value= "Ortopedista">Ortopedista</ion-select-option>
     </ion-select>
   </ion-item>
 
   <ion-item>
     <ion-label>Data</ion-label>
     <ion-datetime [(ngModel)]="data" displayFormat = 'DD/MM/YYYY'></ion-datetime>
   </ion-item>
 
   <ion-item>
     <ion-label>Horario</ion-label>
     <ion-datetime [(ngModel)]="horario" displayFormat ="HH:mm"></ion-datetime>
   </ion-item>
 
  </ion-list>
 <div></div>
   <ion-label>Observações</ion-label>
   <ion-item style="border: 1px solid black; margin-top: 5px; height: 140px;">
        <ion-textarea [(ngModel)]="observacoes"
       style="height: 130px;" placeholder="Digite observações aqui..."
     ></ion-textarea>
    
   </ion-item>
 

   <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-button full expand='block' shape="round" color= "success" (click)="inserir()">Agendar</ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button full expand='block' shape="round" (click)="voltar()">voltar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
 
   </div>