  <ion-tabs>

  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="noticia">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Notícias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="consulta">
      <ion-icon name="medical-outline"></ion-icon>
      <ion-label>Consultas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mapa">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Sobre</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>



