<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title>Pokédex</ion-title>
  </ion-toolbar>

<ion-header class="ion-no-border">
  <img src="" alt="">
	<ion-toolbar>
	</ion-toolbar>

  <div class="titles">
    <ion-card-subtitle>Procure o Pokémon por nome</ion-card-subtitle>
    <ion-searchbar class="ion-no-padding ion-padding-top"></ion-searchbar>
  </div>  

</ion-header>



<ion-content fullscreen="true">

  <div class="ion-padding">

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#001</ion-card-subtitle>
            <ion-card-title>Bulbasaur</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="bug"></ion-icon>
                Planta
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/001.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#002</ion-card-subtitle>
            <ion-card-title>Ivysaur</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="bug"></ion-icon>
               Planta
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/002.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#003</ion-card-subtitle>
            <ion-card-title>Venusaur</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="bug"></ion-icon>
               Planta
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/003.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#005</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/005.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#006</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/006.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#007</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/007.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#008</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/008.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#009</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/009.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#010</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/010.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#011</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/011.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#012</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/012.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#013</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/013.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#014</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/014.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#015</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/015.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#016</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/016.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#017</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/017.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#018</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/018.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#019</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/019.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#020</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/020.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#021</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/021.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#022</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/022.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#023</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/023.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>


    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#024</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/024.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#025</ion-card-subtitle>
            <ion-card-title>Pikachu</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="thunderstorm"></ion-icon>
               Elétrico
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/025.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#026</ion-card-subtitle>
            <ion-card-title>Raichu</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="thunderstorm"></ion-icon>
               Elétrico
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/026.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#027</ion-card-subtitle>
            <ion-card-title>Sandshrew</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="hammer"></ion-icon>
                Veneno
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/027.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#028</ion-card-subtitle>
            <ion-card-title>Sandslash</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="hammer"></ion-icon>
                Terra
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/028.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#029</ion-card-subtitle>
            <ion-card-title>Nidoran♀</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="cloud"></ion-icon>
                Veneno
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/029.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    
    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#030</ion-card-subtitle>
            <ion-card-title>Nidorina</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="cloud"></ion-icon>
                Veneno
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/030.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>


    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#031</ion-card-subtitle>
            <ion-card-title>Nidoqueen</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="cloud"></ion-icon>
               Veneno
               <ion-icon name="hammer"></ion-icon>
               Terra
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/031.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>



    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#032</ion-card-subtitle>
            <ion-card-title>Nidoran♂</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="cloud"></ion-icon>
               Veneno
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/032.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#033</ion-card-subtitle>
            <ion-card-title>Nidorino</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="cloud"></ion-icon>
               Veneno
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/033.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#034</ion-card-subtitle>
            <ion-card-title>Nidoking</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="cloud"></ion-icon>
               Veneno
               <ion-icon name="hammer"></ion-icon>
               Terra
              </ion-badge>

            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/034.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#035</ion-card-subtitle>
            <ion-card-title>Clefairy</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="sparkles"></ion-icon>
               Fada
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/035.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#036</ion-card-subtitle>
            <ion-card-title>Clefable</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="sparkles"></ion-icon>
               Fada
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/036.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    

  </div>

</ion-content>