<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title>Pokédex</ion-title>
  </ion-toolbar>

<ion-header class="ion-no-border">
  <img src="" alt="">
	<ion-toolbar>
	</ion-toolbar>

  <div class="titles">
    <ion-card-subtitle>Procure o Pokémon por nome</ion-card-subtitle>
    <ion-searchbar class="ion-no-padding ion-padding-top"></ion-searchbar>
  </div>  

</ion-header>



<ion-content fullscreen="true">

  <div class="ion-padding">

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#001</ion-card-subtitle>
            <ion-card-title>Bulbasaur</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="bug"></ion-icon>
                Planta
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/001.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#002</ion-card-subtitle>
            <ion-card-title>Ivysaur</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="bug"></ion-icon>
               Planta
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/002.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#003</ion-card-subtitle>
            <ion-card-title>Venusaur</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="bug"></ion-icon>
               Planta
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/003.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#005</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/005.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#006</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/006.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#007</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/007.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#008</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/008.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#009</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/009.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#010</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/010.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#003</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/004.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#003</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/004.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#003</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/004.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#003</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/004.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#003</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/004.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#003</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/004.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#003</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/004.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#003</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/004.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#003</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/004.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#003</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/004.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#003</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/004.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#003</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/004.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#003</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/004.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>


    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#003</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/004.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#003</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/004.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#003</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/004.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#003</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/004.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#003</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/004.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#003</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/004.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    
    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#003</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/004.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#003</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/004.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#003</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/004.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#003</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/004.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#003</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/004.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card color="">
      <div class="mask">
        <img src="assets/pokeball/pokeball.png" alt="">
      </div>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle class="no">#003</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
            <ion-card-subtitle>
              <ion-badge>
                <ion-icon name="flame-outline"></ion-icon>
               Fogo
              </ion-badge>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/004.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    

  </div>

</ion-content>