<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Fórum</ion-title>
  </ion-toolbar>
</ion-header>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap');
</style>

<ion-content [fullscreen]="true">

  <ion-menu contentId="menu" menuId="menu" side="start" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>MENU</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item button routerLink="/tabs/trabalhe-conosco">
        <br>
        <ion-label> TRABALHE CONOSCO</ion-label>
      </ion-item>

      <ion-item button>
        <br>
        <ion-label (click)="logout()"> LOGOUT</ion-label>
      </ion-item>

    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu"></ion-router-outlet>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-button menu="menu"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap');
  </style>

  <ion-content>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <ion-button *ngIf="this.noticias != null" routerLink="/tabs/noticia/nova-duvida" type="submit" shape="round"
              type="submit" expand="block">Nova duvida</ion-button>
          </ion-col>
          <ion-col col-6>
            <ion-button *ngIf="this.noticias != null" routerLink="/tabs/noticia/atualizar" type="submit" shape="round"
              type="submit" expand="block">Editar duvida</ion-button>
          </ion-col>
          <ion-col col-6>
            <ion-label>Digitar ID da Duvida</ion-label>
            <ion-input type="id" required [(ngModel)]="this.noticia.id" name="id"></ion-input>
          </ion-col>
          <ion-col col-6>
            <ion-button (click)="deleteProduct()" type="submit" shape="round" type="submit" expand="block">Deletar Duvida
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- <ion-grid>
            <ion-row>   
              <ion-col col-6>
                <ion-label >Digitar</ion-label>
                <ion-input ></ion-input> 
              </ion-col> 
              <ion-col col-6>
                <ion-button >Buscar</ion-button>
              </ion-col>
            </ion-row>            
          </ion-grid> -->

      <h6>Todos os comentários</h6>
      <ul>
        <li *ngFor="let noticia of noticias">
          id-> {{ noticia.id }}<br />
          nome-> {{ noticia.name }}<br />
          email-> {{ noticia.email }}<br />
          duvida-> {{ noticia.duvida }}<br />
          <br />
          <br />
        </li>
      </ul>

    </ion-card-content>
  </ion-content>


</ion-content>