<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
       Notícias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-card>
        <ion-card-content>
          <div style="display: flex;" class="ion-justify-content-center">
            <h2 style>Adotei um Pokémon, e agora?</h2>
            <ion-text color="dark">
              <h3 style="text-align: center">
                Entenda as necessidades do pet nessa fase e saiba como manter os cuidados com gato filhote assim como
                muitos
                outros novos pets, os cuidados com Pokémon filhote são importantes. Principalmente na fase das primeiras
                semanas de vida do [...]
              </h3>
            </ion-text>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-card>
        <ion-card-content>
          <div style="display: flex;" class="ion-justify-content-center">
            <h2 style>Adotei um Pokémon, e agora?</h2>
            <ion-text color="dark">
              <h3 style="text-align: center">
                Entenda as necessidades do pet nessa fase e saiba como manter os cuidados com gato filhote assim como
                muitos
                outros novos pets, os cuidados com Pokémon filhote são importantes. Principalmente na fase das primeiras
                semanas de vida do [...]
              </h3>
            </ion-text>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-card>
        <ion-card-content>
          <div style="display: flex;" class="ion-justify-content-center">
            <h2 style>Adotei um Pokémon, e agora?</h2>
            <ion-text color="dark">
              <h3 style="text-align: center">
                Entenda as necessidades do pet nessa fase e saiba como manter os cuidados com gato filhote assim como
                muitos
                outros novos pets, os cuidados com Pokémon filhote são importantes. Principalmente na fase das primeiras
                semanas de vida do [...]
              </h3>
            </ion-text>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-card>
        <ion-card-content>
          <div style="display: flex;" class="ion-justify-content-center">
            <h2 style>Adotei um Pokémon, e agora?</h2>
            <ion-text color="dark">
              <h3 style="text-align: center">
                Entenda as necessidades do pet nessa fase e saiba como manter os cuidados com gato filhote assim como
                muitos
                outros novos pets, os cuidados com Pokémon filhote são importantes. Principalmente na fase das primeiras
                semanas de vida do [...]
              </h3>
            </ion-text>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>

</ion-content>
