ion-header {
  font-family: 'Lexend', sans-serif;
}

ion-card {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  ion-label {
    margin: 0;
    font-family: 'Lexend', sans-serif;

  }

  ion-title {
    font-family: 'Lexend', sans-serif;
  }

  ion-card {
    font-family: 'Lexend', sans-serif;
  }

.ion-justify-content-center {
  font-size: small;
  font-weight: lighter;
}

h3 {
  font-weight: lighter;
  font-size: small;
}
