ion-header {
  font-family: 'Lexend', sans-serif;
}

ion-card-header {
  font-family: 'Lexend', sans-serif;
}

h1 {
  font-family: 'Lexend', sans-serif;
}

ion-text {
  font-family: 'Lexend', sans-serif;
}

ion-button {
  font-family: 'Lexend', sans-serif;
}
  
  ion-label {
    margin: 0;
    font-family: 'Lexend', sans-serif;

  }

  ion-title {
    font-family: 'Lexend', sans-serif;
  }

  ion-card {
    font-family: 'Lexend', sans-serif;
  }

.ion-justify-content-center {
  font-size: small;
  font-weight: lighter;
}


h3 {
  font-family: 'Lexend', sans-serif;
}

ul {
  line-height:180%;
}

li {
  font-family: 'Lexend', sans-serif;
}