<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Veterimon</ion-title>
  </ion-toolbar>
</ion-header>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap');
</style>

<ion-content [fullscreen]="true">

  <ion-menu contentId="menu" menuId="menu" side="start" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>MENU</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item button routerLink="/tabs/trabalhe-conosco">
        <br>
        <ion-label> TRABALHE CONOSCO</ion-label>
      </ion-item>

      <ion-item button>
        <br>
        <ion-label (click)="logout()"> LOGOUT</ion-label>
      </ion-item>

    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu"></ion-router-outlet>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-button menu="menu"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap');
  </style>

<ion-content>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <ion-text>No fórum de discussão da Clinica Veterimon, você pode tirar dúvidas sobre exames, descobrir
                dicas e compartilhar sua experiência com Pokémon com outros tutores.
                <br>
                <br>
                Antes de tudo, para participar, basta lembrar algumas regras de ouro para fóruns on-line. 
                <br>
                <br>
                Em outras palavras, seja respeitoso, ativo, útil, forneça valor e acima de tudo, nada de spam!</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>


      <ion-content>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <ion-button fill="outline" *ngIf="this.noticias != null" routerLink="/tabs/noticia/nova-duvida"
                  type="submit" expand="block">Nova dúvida</ion-button>
              </ion-col>
              <ion-col col-6>
                <ion-button fill="outline" *ngIf="this.noticias != null" routerLink="/tabs/noticia/atualizar"
                  type="submit" expand="block">Editar dúvida</ion-button>
              </ion-col>
              <ion-col col-6>
                <ion-label>Digite o ID</ion-label>
                <ion-input type="id" required [(ngModel)]="this.noticia.id" name="id"></ion-input>
                <ion-button (click)="deleteProduct()" fill="outline" size="medium" type="submit" expand="block">Deletar
                </ion-button>
              </ion-col>

            </ion-row>
          </ion-grid>

          <!-- <ion-grid>
            <ion-row>   
              <ion-col col-6>
                <ion-label >Digitar</ion-label>
                <ion-input ></ion-input> 
              </ion-col> 
              <ion-col col-6>
                <ion-button >Buscar</ion-button>
              </ion-col>
            </ion-row>            
          </ion-grid> -->




          <h3>Todos os comentários</h3>
          <ul>
            <h4>
              <li *ngFor="let noticia of noticias">
                ID: {{ noticia.id }}<br />
                Nome: {{ noticia.name }}<br />
                E-mail: {{ noticia.email }}<br />
                Dúvida: {{ noticia.duvida }}<br />
                <br />
                <br />
              </li>
            </h4>
          </ul>
        </ion-card-content>
      </ion-content>


    </ion-content>