<input type="teste" style="max-width: 200px;">

<ion-header> 
    <ion-toolbar>
        <ion-title> Agendar nova consulta </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
<form>
    <ion-item>
        <ion-label position="floating"> Nome </ion-label>
        <!--<ion-input type="text" [{ ngModel }]="user.name"></ion-input> -->
    </ion-item>

    <ion-item>
        <ion-label position="floating"> E-mail </ion-label>
        <!--<ion-input type="email" [{ ngModel }]="user.email"></ion-input>-->
    </ion-item>

    <ion-item>
        <ion-label position="floating"> Senha </ion-label>
        <!--<ion-input type="password" [{ ngModel }]="user.password"></ion-input>-->
    </ion-item>

    <ion-item>
        <ion-label position="floating"> Descrição </ion-label>
        <!--<ion-input type="text" [{ ngModel }]="user.description"></ion-input>-->
    </ion-item>
</form>

</ion-content>

<ion-button (click)="fecharModal()">Fechar</ion-button>

 