<ion-header> 
    <ion-toolbar>
        <ion-title> Agendar nova consulta </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-content>
        <form [formGroup]="fGroup">
          <ion-item style="border: 1px solid black; margin-top: 5px;">
              <ion-label position="floating"> Nome </ion-label>
              <ion-input type="text"  formControlName="name"></ion-input>
          </ion-item>
      
          <ion-item style="border: 1px solid black; margin-top: 5px;">
              <ion-label position="floating"> E-mail </ion-label>
              <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
      
          <ion-item style="border: 1px solid black; margin-top: 5px; height: 150px;">
            <ion-textarea 
              style="height: 150px;" placeholder="Digite a descrição aqui..."
            ></ion-textarea>
          </ion-item>
</form>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button (click)="submitForm()" expand="full">
            Enviar
        </ion-button>
        <ion-button (click)="fecharModal()" expand="full">
            Fechar
        </ion-button>
    </ion-toolbar>
</ion-footer>


 