<style>
  @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap');
</style>


<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-slide>
    <div class="cont-cad">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1>Cadastro</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <div class="form">
                <ion-item>
                  <ion-label position="stacked">Nome</ion-label>
                  <ion-input [(ngModel)]='name'></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">E-mail</ion-label>
                  <ion-input [(ngModel)]='email'></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Senha</ion-label>
                  <ion-input [(ngModel)]='password'></ion-input>
                </ion-item>
                <ion-button (click)='signup()' shape="round"  expand='block'>Salvar</ion-button>
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-slide>
</ion-content>