.form{
    margin-top: 60px;
    margin-bottom: 70px;
}

ion-text{
    font-size: medium;
    font-family: 'Lexend', sans-serif;
}

h3 {
    font-size: medium;
    font-family: 'Lexend', sans-serif;
}

h1{
    font-family: 'Lexend', sans-serif
}


.grid1 {
    height: 100%;
    padding: 5px;
}

.row2 {
    height: 60%;
}

.cont-cad {
    width: 80%;
}

ion-icon {
    margin-right: 15px;
}

ion-button {
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: 'Lexend', sans-serif;
    border-width: 1px;
}

ion-content {
    align-items: center;
}

ion-slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 2px !important;
}

ion-button {
    width: 100%;
}
