<style>
  @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap');
</style>

<ion-content>

  <ion-slide>
    <div class="cont-login">
      <ion-grid>
        <img class="logo-img" src="assets/logo/work4.png">
        <h1 class="vet">Veterimon</h1>
        <ion-row>
          <ion-col>
            <h2>Login</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item>
                <ion-label position="stacked">E-mail</ion-label>
                <ion-input [(ngModel)]='email'></ion-input>
              </ion-item>
              <br>

              <ion-item>
                <ion-label position="stacked">Senha</ion-label>
                <ion-input type="password" [(ngModel)]='password'></ion-input>
              </ion-item>

              
            </ion-list>
            <ion-button (click)='login()' shape="round" expand='block'>Entrar</ion-button>
              <br>
          </ion-col>
        </ion-row>
        <ion-row>

        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>
              <h3 (click)='signup()'>Não tem uma conta?
                <br>
                <ion-text color='primary'>Registre-se aqui</ion-text>
              </h3>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-slide>
</ion-content>