<ion-header>
  <ion-toolbar>
    <ion-title>Historico de Consultas</ion-title>
    
  </ion-toolbar>
</ion-header>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap');
</style>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-button full expand='block' shape="round" color= "success" (click)="buscar()">Buscar</ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button full expand='block' shape="round" (click)="voltar()">voltar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngFor="let consulta of this.consulta; let i = index">
    <ion-card color="">
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-title class="no">{{this.consulta.nome}}</ion-card-title>
            <ion-card-subtitle>{{consulta.especie}}</ion-card-subtitle>
            <ion-card-subtitle>{{consulta.especialidade}}</ion-card-subtitle>
            <ion-card-subtitle>{{consulta.observacoes}}</ion-card-subtitle>
            <ion-card-subtitle>{{consulta.data.split('T')[0]}}</ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-img src="assets/pokemon/00{{i+1}}.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
